#imgTwitter{
    width: 100%;
    height: 50vh;
}
#rightSide
{
    /* display: block; */
    width: 100%;
    /* display: none; */
    /* text-align: center; */
}
#mainDiv{
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: column; */
}
